@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Rei da cocada @ViewData["Aluno"].</p>
<address>
    <strong>More information: </strong> <a href="https://www.youtube.com/watch?v=1lKNmXP90rw&t=1s">Youtube</a>
</address>
